extends layout

block content
  form.form-inline(action='/tasks', method='POST')
    .input-group
      input.form-control(type='text', name='title')
      .input-group-btn
        button.btn.btn-default(type='submit') Add
  ul.pending
    each task in tasks
      li
        h4
          a(class='btn btn-primary done', href='/task/' + task.id) done
          span #{task.id}. #{task.title}
          i(class="glyphicon glyphicon-pencil edit-title")
          input(class="hidden", value=task.title)

        p
          | ( Created at &nbsp;
          span= moment(task.createdAt).format('YYYY/MM/DD hh:mm')
          |  )
          a(class='btn btn-danger delete', href='/task/' + task.id) delete