doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Tasks Manager
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
  body
    .container
      .header.clearfix
        nav
          ul.nav.nav-pills.pull-left
            li.active
              a(href='#') List Tasks
            li
              a(href='#') Completed
    .container
      h1= title
      h3 Welcome to the Todo app by
        a(href="#") @me
        | . Please enjoy.
      block content
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/js/main.js')